<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head ::htmlHead"></head>

<body>
<h2>Product list</h2>
<div th:replace="fragments/navigation ::navbar"></div>
<section class="product-list">

    <div class="product" th:each="product : ${productList}">
        <a th:href="@{/product-detail/{id} (id=${product.id})}"><h3 th:text="${product.productName}"></h3></a>
        <img th:if="${product.pathToImage != null}" th:src="@{/images/{path} (path=${product.pathToImage})}"
             width="100">
        <a class="add-to-cart-button" th:href="@{'/shopping-cart-remove/' + ${product.getId()}}">-</a>
        <a class="add-to-cart-button" th:href="@{'/shopping-cart-add/' + ${product.getId()}}">+</a>
    </div>

</section>
</body>
</html>